.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 2rem;
  @media (max-width: 810px) {
    flex-direction: column;
  }
}

.project {
  width: 47%;
  min-width: 47%;
  height: 600px;
  border: solid black 2px;
}
