@use '../mixins.scss' as *;

.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  margin-top: 2rem;
  width: 100%;
  @media (max-width: 810px) {
    flex-direction: column;
  }
}

.bg {
  position: absolute;
  left: -28rem;
  top: 12rem;
  width: 700px;
  height: 450px;
  transform: rotate(-30deg) scale(0.8);
  z-index: -50;
  background-image: url('/peace-icon.png');
}

.projectMain {
  height: fit-content;
  width: 47%;
  border-radius: 1.3rem;
  box-shadow: 0 0 10px var(--shadowLow);
  background-color: rgba(204, 199, 199, 0.137); // #ffdae521
  margin-bottom: 2rem;
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  padding-bottom: 1rem;
  border: solid transparent 1px;
  transition: all 0.6s;
  padding: 20px 15px;
  &:hover,
  &:focus {
    box-shadow: 0 0 20px var(--shadowHigh);
    border: solid var(--bgBoxHover) 1px;
  }

  h2 {
    color: var(--textTinted);
    font-weight: 600;
    font-size: 26px;
  }

  ul {
    margin-top: 1rem;
    color: var(--textTinted);
  }

  li {
    padding: 3px 0;
    &::marker {
      color: #d1d5db;
    }
  }

  @media (max-width: 480px) {
    border: 1px solid var(--heading);
  }
  @media (max-width: 810px) {
    width: 100%;
  }
}

.title {
  display: inline-block;

  h2 {
    color: var(--heading);
  }

  p {
    margin-left: 0rem;
    margin-right: 0.1rem;
    // color: rgba(63, 60, 60, 0.801);
    margin-bottom: 0;
    word-spacing: 2px;
    letter-spacing: 0.2px;
    color: var(--textTinted2);
  }

  @media (max-width: 480px) {
    h2 {
      margin-top: 0rem;
      margin-bottom: 0.5rem;
    }
    p {
      margin-left: 0.2rem;
      margin-right: 0.1rem;
      font-size: 14px;
      margin-bottom: 0.5rem;
    }
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.linksContainer {
  height: 50%;
  padding: 10px;
  border-radius: 0.7rem;
  margin-top: 1rem;
  color: #1f1d1d;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    width: 95%;
    font-size: 12px;
    padding: 5px;
    margin-top: 0.5rem;
  }

  .tags {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    h3 {
      display: inline-block;
      padding: 0;
      margin: 0;
      margin-right: 1rem;
      margin-right: 0.5rem;
      color: var(--heading);
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      h3 {
        margin-bottom: 0.5rem;
      }
    }

    .h3ele {
      display: inline-block;
      min-width: 100px;
    }

    .tagElements {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.8rem;

      .tag {
        padding: 1px 0.6rem 3px 0.6rem;
        width: 20px;
        display: flex;

        img {
          width: 20px;
        }
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: var(--textTinted2);
  cursor: pointer;
  margin-top: 1rem;
  .link {
    border-bottom: solid 1.5px #fd6449;
    border-right: solid 1.5px #fd6449;
    border-radius: 2px 2px 0 0;
    padding: 0.1rem 0.8rem;
    font-size: 16px;
    background-color: var(--bgBoxHover);
    transition: all 0.2s;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      scale: (0.9);
    }
  }
}

.heading {
  @include heading;
}

.github {
  display: block;
  max-width: fit-content;
  margin: auto;
}

.iconName {
  padding-left: 0.3rem;
  color: #fd6449;
}

.iconName:hover {
  opacity: 0.8;
}
