.list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 4rem;
  }
}

.title {
  display: block;
  margin-bottom: 10px;
  color: var(--brand);
  font-weight: 700;
  font-size: 20px;

  @media (min-width: 480px) {
    font-size: 22px;
  }
}

.summary {
  margin-bottom: 10px;
  font-size: 16px;
  opacity: 0.7;

  @media (min-width: 480px) {
    font-size: 18px;
  }
}

.meta {
  font-size: 0.95em;
  opacity: 0.5;
}

.noResults {
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}

.tagContainer {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 0;

  li {
    margin-bottom: 0;
  }
}

.postTags {
  padding: 3px 10px;
  margin-right: 0.7rem;
  font-size: 0.9em;
  border-radius: 1rem;
  color: var(--textTinted3);
  max-width: fit-content;

  @media (max-width: 480px) {
    font-size: 0.8em;
  }
}

.tag0 {
  background-color: rgba(228, 122, 115, 0.397);
}

.tag1 {
  background-color: rgba(160, 243, 104, 0.459);
}

.tag2 {
  background-color: rgba(60, 173, 238, 0.438);
}

.tag3 {
  background-color: rgba(255, 228, 196, 0.603);
}

.tag4 {
  background-color: rgba(255, 84, 155, 0.39);
}
