@font-face {
	font-weight: 300;
	font-family: 'Outfit';
	font-style: normal;
	src: url('/fonts/outfit-v4-latin-regular.woff2')
		format('woff2');
}

@font-face {
	font-weight: 500;
	font-family: 'Outfit';
	font-style: normal;
	src: url('/fonts/outfit-v4-latin-500.woff2')
		format('woff2');
}

@font-face {
	font-weight: 700;
	font-family: 'Outfit';
	font-style: normal;
	src: url('/fonts/outfit-v4-latin-700.woff2')
		format('woff2');
}

@font-face {
	font-weight: 900;
	font-family: 'Outfit';
	font-style: normal;
	src: url('/fonts/outfit-v4-latin-900.woff2')
		format('woff2');
}

:root {
	--bg: #fff;
	--bgInverse: #161515;
	--text: #000;
	--textTinted: rgba(0, 0, 0, 0.5);
	--brand: #fd6449;
	--brandActive: #b3613b;
	--brandTinted: rgba(227, 131, 86, 0.2);
	--brandTintedActive: rgba(227, 131, 86, 0.33);
	--headerBg: rgba(255, 255, 255, 0.6);
	--border: rgba(0, 0, 0, 0.08);
	--borderActive: rgba(0, 0, 0, 0.25);
	--star: #fece02;
	--fontFamily: 'Outfit', -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	--boxBg: #f3f3f3;
	--siteWidth: 83ch;
	--inputBg: white;
	--likeButton: rgba(0, 0, 0, 0.05);
	--likeButtonHover: rgba(0, 0, 0, 0.1);
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	--secondary: #caca28;
	--transparent: rgba(255, 255, 255, 0);
}

[data-theme='dark'] {
	--bg: #161515;
	--bgInverse: #fff;
	--text: rgb(255, 255, 255);
	--textTinted: rgba(255, 255, 255, 0.699);
	--headerBg: rgba(22, 21, 21, 0.6);
	--border: rgba(255, 255, 255, 0.08);
	--borderActive: rgba(255, 255, 255, 0.25);
	--boxBg: #1f1e1d;
	--star: #fef102;
	--inputBg: #292929;
	--likeButton: rgba(255, 255, 255, 0.2);
	--likeButtonHover: rgba(255, 255, 255, 0.3);
	--secondary: yellow;
	--transparent: rgba(0, 0, 0, 0);
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--fontFamily);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin-top: 0;
}

body {
	color: var(--text);
	background-color: var(--bg);
	transition: background 0.5s;
}

h1 {
	margin-bottom: 30px;
	font-size: 32px;
	letter-spacing: 1px;

	@media (min-width: 480px) {
		font-size: 56px;
	}
}

h2 {
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0.6px;

	@media (min-width: 480px) {
		margin-bottom: 20px;
		font-size: 24px;
	}
}
