@use './mixins.scss' as *;

.iconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.aboutSection {
  margin-top: 2rem;
}

.heading {
  @include heading;
}

.icons {
  padding: 0.8rem;
  border-radius: 2rem;
  img {
    height: 4rem;
    &:hover {
      opacity: 0.8;
    }

    @media screen and (max-width: 480px) {
      height: 2.5rem;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 0;
  }

  position: relative;

  span {
    position: absolute;
    top: 60%;
    margin-top: 10px;
    z-index: 20;
    padding: 0.55rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    color: #000;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);

    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    span {
      top: 80%;
      opacity: 0.9;
    }
  }
}
