.header_container {
  min-height: 100vh;
  max-width: 60vw;
  margin: auto;

  @media screen and (max-width: 480px) {
    max-width: 100vw;
    margin-left: 10%;
    margin-right: 10%;
  }
}

//

.header {
  max-width: 60vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 250px;
  font-family: 'Outfit';
  font-weight: 300;

  @media screen and (max-width: 1150px) {
    max-width: 100vw;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 480px) {
    max-width: 100vw;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.header__content {
  transition: all 0.4s ease;

  img {
    position: absolute;
    top: 5%;
    left: 20%;
    z-index: -20;
    width: 40%;
    opacity: 0.8;
    transition: all 0.4s ease;
  }

  @media screen and (max-width: 1150px) {
    img {
      position: absolute;
      top: -15%;
      left: 0%;
      z-index: -20;
      width: 100%;
      opacity: 0.5;
    }
  }

  @media screen and (max-width: 480px) {
    img {
      position: absolute;
      top: 15%;
      left: 0%;
      z-index: -20;
      width: 100%;
      opacity: 0.7;
    }
  }
}

.header__gifcontainer {
  min-width: 250px;

  @media screen and (max-width: 1150px) {
    width: 250px;
  }

  @media screen and (max-width: 480px) {
    img {
      width: 220px !important;
    }
  }

  @media screen and (min-height: 600px) and (max-height: 700px) and (max-width: 480px) {
    img {
      width: 160px !important;
    }
  }
}

.header__gif {
  display: absolute;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__socialIcons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 80px;
  width: max-content;
  a {
    font-size: 18px;
  }
  @media screen and (max-width: 480px) {
    margin-top: 35px;
    margin-bottom: 20px;
    a {
      font-size: 12px;
    }
  }
  & > * {
    margin-right: 25px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 20px;
    &:last-of-type {
      margin-right: 0px;
    }
    @media screen and (max-width: 480px) {
      margin-right: 5px;
    }

    & > * {
      padding-right: 5px;
    }
  }
}

.iconNames {
  border-bottom: solid 2.5px #fd6449;
  font-size: 18px;
  &:hover {
    opacity: 0.8;
  }
}

.socialIconsContainer {
  display: flex;
  @media screen and (max-width: 480px) {
    align-items: center;
    justify-content: center;
  }
}

.divSayHi {
  display: flex;
  font-size: small;
  @media screen and (max-width: 480px) {
    align-items: center;
    justify-content: center;
  }
}

.sayHi {
  display: inline-block;
  margin-top: 10px;
  border: solid 2px var(--bgInverse);
  border-radius: 10px;
  padding: 10px 25px;
  font-size: larger;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0px 2px 0px var(--bgInverse);
  &:hover {
    background-color: var(--bgInverse);
    color: var(--bg);

    box-shadow: 0px 5px 5px -5px var(--bgInverse);
    transform: scale(1.03);
  }
  &:active {
    background-color: var(--bgInverse);
    color: var(--bg);
    box-shadow: none;
    transform: scale(0.98);
  }
  @media screen and (max-width: 480px) {
    align-items: center;
    justify-content: center;
    padding: 7px 18px;
  }
}
