.container {
  max-width: var(--siteWidth);
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 480px) {
    padding: 0 30px;
  }
}

.main {
  margin-bottom: 50px;

  @media (min-width: 480px) {
    margin-bottom: 80px;
  }
}
