.wrapper {
	position: relative;
	width: 40px;
	height: 40px;
	margin-right: -3px;

	@media (min-width: 480px) {
		display: block;
	}
}

.buttonLabel {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
}
